<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <button mat-icon-button [matMenuTriggerFor]="langmenu" aria-label="Notifications">
    <i-tabler class="d-flex" name="language"></i-tabler>
  </button>
  <mat-menu #langmenu="matMenu" class="topbar-dd cardWithShadow">
    <ng-container *ngFor="let lang of supportedLanguages">
      <div class="p-x-12 m-y-12">
        <a (click)="setLanguage(lang)" mat-stroked-button color="primary" class="w-100">{{lang.label}}</a>
      </div>
    </ng-container>
  </mat-menu>
  <span class="flex-1-auto"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
    <img
      src="assets/images/profile/user-2.jpg"
      class="rounded-circle object-cover"
      width="35"
    />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <ng-container *ngFor="let menuItem of profileMenuItems">
      <button mat-menu-item [routerLink]="menuItem.route">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="{{menuItem.iconName}}" class="icon-18 d-flex"></i-tabler>
        </mat-icon>
        {{menuItem.displayName! | translate}}
      </button>
    </ng-container>
    <div class="p-x-12 m-t-12">
      <a
        (click)="logout()"
        mat-stroked-button
        color="primary"
        class="w-100"
      >{{'USER.LOGOUT' | translate}}</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
